* {
    box-sizing: border-box;
   
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    display: grid;
    place-items: center;
    margin: 1% 0;
    overflow: hidden;
    background-color: #EACFF1 

    
   
   
}

.section{
  display: flex;
  align-self: center;
  flex-direction: column;
  align-self: auto;
  border: 2px solid rgb(80, 77, 152);
  cursor: pointer;
  /* border-radius: 20px; */
  width: 50%;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1); 
  background-color: white;
  position: relative;
}


.header1{
    display: flex;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    padding: 20px;
    /* box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1); */
    /* border-radius: 19px; */
}

.header--title1 {
    font-size: 1.25rem;
    margin-right: auto;
    font-weight: 500;
}

.header--title2 {
    font-size: 0.90rem;
    margin-left: 20px;
}
.header--title2:hover{
text-decoration: underline;
}

.bold {
    font-weight: bold;
}
.bold:hover + .name{
    visibility: visible;
}


.gray {
    color: #918E9B;
}
.name {
    visibility: hidden;
    color: #918E9B;
    margin: 0px; 
    
}

.img{
    width:50px;
    height:50px;
    border-radius:50%;
    margin-right: auto;
    margin-top:10px;
}

.img1{
    width:28px;
    height:28px;
    border-radius:70%
}
li{
   display: grid;
   grid-template-columns: 70% 30% ;
   

}

